*{
    margin:0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color: #1a0a2d;
    background: linear-gradient(to right, #1a0a2d, #310d5e);
    color:aliceblue;
}

.contenedorTeclas{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.tecla{
    height: 100px;
    width: 100px;
    background-color: rgb(255,255,255,0.05);
    border: 2px solid goldenrod;
    transition: 0.5s;
}
.active{
    transform: scale(1.1);
}